body {
  margin: 0;
  font-family: Titr, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#react-paginate {
  display: flex;
  justify-content: center;
}
#react-paginate ul {
  display: inline-block;
  margin-left: 20px;
  padding-left: 0;
}

#react-paginate li {
  display: inline-block;
  color: #000;
  cursor: pointer;
  border-radius: 50%;
  margin: 5px 3px 20px 0;
}

#react-paginate li a {
  padding: 10px 10px;
  display: inline-block;
  color: #000;
  outline: none;
}

#react-paginate li.active {
  background: rgb(17, 79, 30);
  outline: none;
}

code {
  font-family: Titr, source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@font-face {
  font-family: "Nazanin";
  src: url(./assets/fonts/Nazanin.ttf);
}
@font-face {
  font-family: "Titr";
  src: url(./assets/fonts/Titr.ttf);
}
@font-face {
  font-family: "Ziba";
  src: url(./assets/fonts/Ziba.ttf);
}
